.body{
    padding: 30px;
    flex:0.85;
    background: linear-gradient(rgb(43, 33, 97), rgba(0, 0, 0, 1));
    height: 100vh;
    color: #fff;
    overflow-y: overlay;

}


.body::-webkit-scrollbar {
  display: none;
}

.body-info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.body-shuffle {
  font-size: 80px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.body-icons {
  display: flex;
  align-items: center;
}

.body-icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.body-shuffle{
    color:#1ed15e;
}
.body-shuffle:hover {

  transition: 100ms transform ease-in;
  transform: scale(1.08);
}

.body-background {
  position: absolute;
  top: 13vh;
  right: 0;
  opacity: 0.4;
  height: 80%;
  width: 80%;
  background-color: black;
}

.body-songs {
    background-color: rgba(22, 17, 17, 0.74);
  z-index: 1;
  margin: 20px -30px;
}

.body-info > img {
  width: 20vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body-infoText {
  flex: 1;
}

.body-infoText > h2 {
  font-size: 100px;
  margin-bottom: 10px;
}

.body-infoText > p {
  font-size: 14px;
}