.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  flex: 0.5;
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  color: gray;
  align-items: center;
}

.header-left > input {
  border: none;
  width: 100%;
}


.header-right > h4 {
  margin-left: 10px;
}