* {
    box-sizing: border-box;
    background-color: rgb(41, 36, 36);
  }

  h1, h2 {
    color: #eee;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .ch li{
    background-color: blueviolet;
    text-decoration-style: solid;
  }

  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #dabebe;
  }


  ul li:nth-child(even) {
    background: #db9fd8;
  }


  ul li:hover {
    background: rgb(225, 228, 230);
  }

  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }

  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }


  .addBtn {
    padding: 8px;
    width: 15%;
    background: #d9d9d9;
    color: #555;
    float: center;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50deg;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }

  input {
    margin: 0;
    border: none;
    border-radius: 5px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    background-color: #dabebe;
    padding-left: 30px;
  }
  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  .delete {
    background-color: red;
    float: right ;
  }