@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Pacifico&display=swap');

*{
  margin: 0;
  padding: 0;
}
header nav{
    display: flex;
    flex-direction: row;
}
.logo img{
   height: 10vh;
   width: 10vh;
   border-radius:100px ;
   border:orangered 3px solid  ;
  margin:14px 30px 10px 10px ; 
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
align-items: center;
}
header nav{
    height:15vh ;
    background-color: black;
}
 header nav ul li a{
    padding:30px 20px 30px 20px ;
    text-decoration:none;
    color: white;
    font-family:'Arvo', serif;
    font-size:medium ;
    font-weight:700;
} 
header nav .find{
    display:flex ;
    flex-direction: row;
    justify-content: center;
align-items: center;

}
.find input{
     
    margin:30px 10px 30px 50px ;
    width:20vw ;
    padding-left:10px ;
    margin-right:20px ;
    border-radius: 10px;
    color:rgb(26, 22, 22) ;
    font-family:'Arvo', serif ;
    font-weight: bolder;
    background-color: rgb(230, 234, 235);
}
.find .here{
    background-color: rgb(230, 234, 235);

color:grey ;
width:70px ;
cursor:pointer ;
font-family:'Arvo', serif ;
font-weight: bolder;
  border-radius: 7px; 
}
.logo img:hover{
    border:orangered 6px solid  ;
   
 }
 header nav ul li a:hover{
    height:2vh ;
    width:1vw ;
    border-radius: 20px; 
    background-color: orangered;
    padding:10px 10px 10px 10px ;
 }
 .find input:hover
 {
border: 5px orangered solid;

 }
 .find .here:hover
 {
border: 5px orangered solid;

 }
 .homepic{
     background-image:url(darkestbg.jpg);
     background-size:cover ;
     height:45vh ;
    
 }
 .title{
     display:flex ;
     flex-direction: column;
     justify-content: center;
 align-items: center;
 font-family:'Arvo', serif ;
    font-weight: bolder;
    font-size: xx-large;
    padding-top:30px ;
    margin-bottom:25px ;
    color:white ;

 }
 .one{
    display:flex ;
    flex-direction: column;
    justify-content: center;
align-items: center;
font-size: x-large;
font-weight: bolder;
font-family:'Arvo', serif ;
color:white ;

margin-bottom:25px ;
}
.two{
    display:flex ;
    flex-direction: column;
    justify-content: center;
align-items: center;
font-size: larger;
font-weight: bolder;
font-family:'Arvo', serif ;
color:white ;

margin-bottom:25px ;
}
.title:hover{
    color: orangered;
}
.one:hover{
    color: orangered;
}
.two:hover{
    color: orangered;
}
.btn{
    margin-left: 44% ;
    padding:3px 3px 3px 3px ;
    font-size: large;
font-weight:bolder;
background-color: rgb(6, 196, 16);
margin-bottom:20px ;
font-family:'Arvo', serif ;
color:white ;
border-radius:15px;
border: white 3px solid;
height:8vh ;
animation:jaya 0.2s ease-in-out infinite ;
}
@keyframes jaya{
    form{
        border: white 3px solid;
    }
    to{
        border: white 8px solid;
    }

}
.btn:hover{
background-color: orangered;
}
.services{
    font-family:'Arvo', serif;
    font-size:xx-large;
    font-weight:bolder;
    display:flex ;
    
    justify-content: center;
align-items: center; 
padding-top:30px ;
padding-bottom: 20px;
}
.block{
    display:flex ;
    flex-direction: row;
    justify-content: center;
align-items: center;
 margin-bottom:30px ;
}
.item {
height:45vh ;
width:25vw;
display:flex ;
flex-direction: column;
justify-content: center;
align-items: center; 
border:solid 2px orangered;
border-radius:20px ;
margin-left: 40px;
margin-right:40px ;
font-family:'Arvo', serif;
font-size:small;
font-weight:500;
padding-left:20px ;
padding-top:5px ;
background-color: grey;
}

.item img{
    height:18vh ;
    width: 9vw;
    border-radius: 100px;
    
}
.item .quality{
    font-family:'Arvo', serif;
    font-size:x-large;
    font-weight:bolder;
    padding-top:10px ;
    padding-bottom:10px ;
}
.services:hover{
color: orangered;
}
.item:hover{
    border:solid 6px orangered;
}
.about{
    display:flex ;
flex-direction:column;
justify-content: center;
align-items: center; 
background-image:url(restbg.jpg) ;
background-size: cover;
height:40vh ;
margin-bottom:30px ;
}
.clients {
    display:flex ;
    flex-direction:row;
    justify-content: center;
    align-items: center;
margin-bottom:20px ;
    
}
.image img{
    height:15vh ;
    width:7vw ;
    padding-right:20px ;
    padding-left:20px ;
}
.image img:hover{
height:19vh ;
width:9vw ;
}
.data{
    display:flex ;
    flex-direction:row;
    justify-content: center;
    align-items: center; 
}
.details{
    font-family:'Arvo', serif;
    font-size:large;
    font-weight:bold; 
    margin-bottom:10px ; 
}
 input{
    width:400px;
    background-color: rgb(230, 234, 235);
    border-radius:5px ;
    font-family:'Arvo', serif;
    
}
textarea{
    width:400px;
    height:150px;
    background-color: rgb(230, 234, 235);
    margin-bottom:10px ;
    border-radius:5px ;
    
    
}
.details:hover{
    color: orangered;
    
}
.details input:hover{
    border: orangered solid 3px;
}
.details textarea:hover{
    border: orangered solid 3px;
}
.contact{
    background-image:url(contactbg.jpg) ;
   height:85vh ; 
   background-size: cover;
}
.submit input{
    width:400px;
    border-radius:5px ;
    background-color: green;
    font-family:'Arvo', serif;
    font-size:large;
    font-weight:bolder;
    /* margin-bottom:20px ; */

}
.submit:hover{
border:4px  solid orangered;
border-radius:5px ;
}

.flex-all-center{
    display: flex;
    justify-content: center;
    align-items:center ;
}
footer{
    background-color:black;
    height: 10vh;
    color:white ;
    font-family: 'Arvo', serif;
} 



