body {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif; */
    font-family: 'Damion', cursive;
    background-color: #88304E;
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 2rem;
}

h1 {
    color: #E23E57;
    font-size: 10rem;
    margin-bottom: 20px;
}

#message-el {
    font-style: italic;
}

button {
    color: #88304E;
    width: 200px;
    height: 80px;
    background: #E23E57;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 1.5rem;
}
.img1, .img2{
    margin: 5px 5px;
}
