*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}

.header{
    min-height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), 
    url('./img/university.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: cover;
}

nav img{
    width: 150px;
}

.nav-link{
    flex: 1;
    text-align: right;
}

.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-link ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-link ul li:hover::after{
    width:100%;
}

.text-box{
    width:90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }

    .nav-link ul li{
        display: block;
    }

    .nav-link{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-link ul{
        padding: 30px;
    }
}

/* --------courses----------- */
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

 h1{
    font-size: 36px;
    font-weight: 600;
}

 p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: inline;
    justify-content: space-between;
    width:33.3%;
    float: left;
    text-align: center;
}

.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px){
    .row{
        width: 100px;
        flex-direction: column;
        display: block;
        padding: 50px;
        overflow:hidden;
        margin: 0;
    }

    .course-col{
        flex-basis: 30%;
        display: block;
        padding: 0px;
        width: 100px;
        overflow: hidden;
        box-sizing: border-box;
        text-align: center;
    }

    .course h3{
        font-size: 15px;
    }

    .course-col p{
        font-size: 12px;
    }
}

/* ------------campus----------- */
.campus{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}


 .campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

 .campus-col img{
    width: 100%;
    display:block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(226, 0, 0, 0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

@media(max-width:700px){
    .camous-col{
        width: 100%;
    }

    .campus-col img{
        width: 200px;
        height: 200px;
        /* border-radius: 50px; */
        display:block;
        left: 0;
        right: 0;
        float: right;
    }

    .layer h3{
        font-size: 16px;
        text-align: center;

    }
}

/* ---------facilities--------- */
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 1300px;
}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.facilities-col img{
    width: 100%;
    border-radius: 10px;
}

.facilities-col p{
    padding: 0 0 20px 0;
}

.facilities-col h3{
    margin-top: 16px;
    margin-bottom:15px;
    text-align : left;
}

@media(max-width: 700px){
    .facilities{
        margin-top:-500px;
    }

    .facilities-col img{
        width:300px;
        margin: 0px;
    }
}

/* ----------testimonials------------ */
.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 1300px;
    text-align: center;
}

.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col p{
    padding: 0;
}

.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}

.testimonial-col i{
    color: #f44336;
}

@media(max-width:700px){
    .testimonials h1{
        margin-top: -500px;
        padding:0px;
        text-align: center;
    }

    /* .testimonial-col{
        margin-bottom: 1000px;
    } */

    .testimonial-col img{
        margin-left: 0px;
        margin-right: 15px;
    }

    .testimonial-col p{
        padding: 0px;
        overflow: hidden;
        text-align: left;
    }
}

/* -----------call to action---------- */
.cta{
    margin: 800px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url(./img/meeting.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media (max-width: 700px){
    .cta h1{
        font-size: 24px;
        margin-top: 100px;
    }
}

/* -------------------footer--------- */

.footer{
    width:100%;
    text-align: center;
    padding: 30px 0;
    margin-top: -700px;
}

.footer h4{
    margin-bottom:25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons i{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.footer p i{
    color: #f44336;
}




