@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');



body {

  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2;
  color: var(--color-white);
  margin: 0;
  
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

label,#lebel-para {
  
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;

}

button {
  border: none;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.body-container{

  text-align: center;
  max-width: 600px;
  margin: 3.125rem auto 0 auto;

}

@media (min-width: 576px) {
  .body-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .body-container {
    max-width: 720px;
  }
}

.header{
  
  line-height: 20px;
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;

}

#title{

  letter-spacing: 4px;
  font-weight: 800;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

}

#description{

  font-style: italic;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

}

form {
  
  background: rgba(27, 27, 50, 0.8);
  padding: 2.5rem 30px;
  border-radius: 10px;

}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {

  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;

}

.form-control,#dropdown,textarea{

  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.input-radio,
.input-checkbox {

  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;

}

textarea{
  height: 100px;
}

button{

  display: block;
  width: 100%;
  padding: 0.75rem;
  background: green;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;

}